<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Request participation</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formGroup">
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="text" class="form-control" id="inputEmail" formControlName="email" required>
      <small *ngIf="shouldShowErrors('email')" class="form-text text-danger">
        {{getErrorMessage("email")}}
      </small>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="requestMember()">Send request</button>
</div>
